# Exploring Hacker News Posts


### Introduction
In this project, we'll work with a data set of submissions to popular technology site Hacker News.

![hacker_news](https://s3.amazonaws.com/dq-content/354/hacker_news.jpg)

Hacker News is a site started by the startup incubator [Y Combinator](https://www.ycombinator.com/), where user-submitted stories (known as "posts") are voted and commented upon, similar to reddit. Hacker News is extremely popular in technology and startup circles, and posts that make it to the top of Hacker News' listings can get hundreds of thousands of visitors as a result.

You can find the data set [here](https://www.kaggle.com/hacker-news/hacker-news-posts), but note that it has been reduced from almost 300,000 rows to approximately 20,000 rows by removing all submissions that did not receive any comments, and then randomly sampling from the remaining submissions. Below are descriptions of the columns:

- id: The unique identifier from Hacker News for the post
- title: The title of the post
- url: The URL that the posts links to, if it the post has a URL
- num_points: The number of points the post acquired, calculated as the total number of upvotes minus the total number of downvotes
- num_comments: The number of comments that were made on the post
- author: The username of the person who submitted the post
- created_at: The date and time at which the post was submitted

Display the first 5 rows to get more familiar with the data

In [1]:
from csv import reader
opened_file = open("hacker_news.csv")
read_file = reader(opened_file)
hn_original = list(read_file)

print(hn_original[:5])

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'], ['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']]

### Removing headers from a list of lists
In order to analyze our data, we need to separate column header and data.

In [2]:
# separate the header
hn_headers = hn_original[0]
print(hn_headers,'\n')

# separate the data itself
hn = hn_original[1:]

for i in hn[:5]:
    print(i)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']
['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']
['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']
['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']

### Extract `Ask HN` and `Show HN` Posts

Now that we've removed the headers from hn, we're ready to filter our data. Since we're only concerned with post titles beginning with Ask HN or Show HN, we'll create new lists of lists containing just the data for those titles.

To find the posts that begin with either Ask HN or Show HN, we'll use `str.startswith()` method to distinguish posts beginning with `Ask HN`, `Show HN` and `other_post`. Create 3 empty lists first and apply if-statement to append the satisfied string into list.

In [3]:
ask_posts = []
show_posts = []
other_posts = []

In [4]:
for i in hn:
    title = i[1]
    # if lowercase of title starts with "ask hn", append to ask_posts
    if title.lower().startswith('ask hn'):
        ask_posts.append(i)
    # if lowercase of title starts with "show hn", append to show_posts
    elif title.lower().startswith('show hn'):
        show_posts.append(i)
    # else situations, append to other_posts
    else:
        other_posts.append(i)

#to check number of posts
print('Number of posts starts with ask hn: ', len(ask_posts))
print('Number of posts starts with show hn: ', len(show_posts))
print('Number of other posts: ', len(other_posts))

Number of posts starts with ask hn:  1744
Number of posts starts with show hn:  1162
Number of other posts:  17194

to see the first 5 rows in the list of lists

In [5]:
for ask in ask_posts[:5]:
    print(ask)

print('----------------------------')
for show in show_posts[:5]:
    print(show)

['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55']
['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43']
['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14']
['12210105', 'Ask HN: Looking for Employee #3 How do I do it?', '', '1', '3', 'sph130', '8/2/2016 14:20']
['10394168', 'Ask HN: Someone offered to buy my browser extension from me. What now?', '', '28', '17', 'roykolak', '10/15/2015 16:38']
----------------------------
['10627194', 'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform', 'https://iot.seeed.cc', '26', '22', 'kfihihc', '11/25/2015 14:03']
['10646440', 'Show HN: Something pointless I made', 'http://dn.ht/picklecat/', '747', '102', 'dhotson', '11/29/2015 22:46']
['11590768', 'Show HN: Shanhu.io, a programming playground powered by e8vm', 'https://shanhu.io', '1', '1', 'h8liu', '4/28/2016 18:05']
['12178806', 'Show HN: Webscope  Easy way for web developers to communicate with Clients', 'http://webscopeapp.com', '3', '3', 'fastbrick', '7/28/2016 7:11']
['10872799', 'Show HN: GeoScreenshot  Easily test Geo-IP based web pages', 'https://www.geoscreenshot.com/', '1', '9', 'kpsychwave', '1/9/2016 20:45']

### Calculate the Average Number of Comments for `ASK HN` and `SHOW HN`

In [6]:
# find total number of comments in ask_posts
total_ask_comments = 0

#iterate over the ask_posts to calculate total amounts
# num_comments is the fifth column in ask_posts
for row in ask_posts:
    num_comments = int(row[4])
    total_ask_comments += num_comments

print('total ask comments:', total_ask_comments)
    
#compute the average number of comments for ASK HN
avg_ask_comments = total_ask_comments / len(ask_posts)
print('average ask comments:', round(avg_ask_comments,2))

total ask comments: 24483
average ask comments: 14.04

In [7]:
#find total number of comments in show_posts
total_show_comments = 0

#iterate over the show posts to calculate total amounts
for row in show_posts:
    num_comments = int(row[4])
    total_show_comments += num_comments
    
print('total show comments:', total_show_comments)

#compute the average number of comments for SHOW HN
avg_show_comments = total_show_comments / len(show_posts)
print('average show comments:', round(avg_show_comments,2))

total show comments: 11988
average show comments: 10.32

Total ask posts have 13000 more than total show posts, besides, ask posts have 4 more average comments than show posts.
As ask posts are more likely to receive comments, we'll focus our remaining analysis on these posts.

### Finding the Amount of `ASK HN` and Comments by Hour Created

Next, we'll determine if ask posts created at a certain time are more likely to attract comments. We'll use the following steps to perform this analysis:

- Calculate the amount of ask posts created in each hour of the day, along with the number of comments received.
- Calculate the average number of comments ask posts receive by hour created.

In [8]:
import datetime as dt

In [9]:
result_list = []

for row in ask_posts:
    time = row[6]
    comment = int(row[4])
    #use "list.append([column1, column2])" to append two columns
    result_list.append([time, comment])


posts_by_hour = {}
comments_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

for row in result_list:
    hour = row[0]
    comment = row[1]
    hr = dt.datetime.strptime(hour, date_format).strftime("%H")
    if hr not in posts_by_hour:
        posts_by_hour[hr] = 1
        comments_by_hour[hr] = comment
    else:
        posts_by_hour[hr] += 1
        comments_by_hour[hr] += comment

print('Posts Numbers by Hour\n',posts_by_hour)
print('Comments Numbers by Hour\n',comments_by_hour)

Posts Numbers by Hour
 {'09': 45, '13': 85, '10': 59, '14': 107, '16': 108, '23': 68, '12': 73, '17': 100, '15': 116, '21': 109, '20': 80, '02': 58, '18': 109, '03': 54, '05': 46, '19': 110, '01': 60, '22': 71, '08': 48, '04': 47, '00': 55, '06': 44, '07': 34, '11': 58}
Comments Numbers by Hour
 {'09': 251, '13': 1253, '10': 793, '14': 1416, '16': 1814, '23': 543, '12': 687, '17': 1146, '15': 4477, '21': 1745, '20': 1722, '02': 1381, '18': 1439, '03': 421, '05': 464, '19': 1188, '01': 683, '22': 479, '08': 492, '04': 337, '00': 447, '06': 397, '07': 267, '11': 641}

Above, we created two dictionaries:
- counts_by_hour: contains the number of ask posts created during each hour of the day.
- comments_by_hour: contains the corresponding number of comments ask posts created at each hour received.

Next, we'll use two dictionaries to calculate the average number of comments for posts created during each hour of the day.

In [12]:
avg_by_hour = []

for i in comments_by_hour:
    avg = comments_by_hour[i]/posts_by_hour[i]
    avg_by_hour.append([i,round(avg,2)])

avg_by_hour

[['09', 5.58],
 ['13', 14.74],
 ['10', 13.44],
 ['14', 13.23],
 ['16', 16.8],
 ['23', 7.99],
 ['12', 9.41],
 ['17', 11.46],
 ['15', 38.59],
 ['21', 16.01],
 ['20', 21.52],
 ['02', 23.81],
 ['18', 13.2],
 ['03', 7.8],
 ['05', 10.09],
 ['19', 10.8],
 ['01', 11.38],
 ['22', 6.75],
 ['08', 10.25],
 ['04', 7.17],
 ['00', 8.13],
 ['06', 9.02],
 ['07', 7.85],
 ['11', 11.05]]

Although we now have the results we need, this format makes it hard to identify the hours with the highest values. Let's finish by sorting the list of lists and printing the five highest values in a format that's easier to read.

In [16]:
swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])

sorted_swap = sorted(swap_avg_by_hour, reverse=True)

### Top 5 Hours for Ask Posts Comments

In [17]:
for avg, hr in sorted_swap[:5]:
    print(
        "{}:00 {:.2f} average comments per post".format(hr, avg)
        )

15:00 38.59 average comments per post
02:00 23.81 average comments per post
20:00 21.52 average comments per post
16:00 16.80 average comments per post
21:00 16.01 average comments per post